{% extends 'base.html' %}
{% load bootstrap5 %} 


{% block title %}Itineraire List{% endblock title%}

{% block content %}

    <div class="row pb-3">
        <h1>Itineraires</h1>
    </div>

    <div class="row">
    {% if itineraires %} <!-- Vérification qu'il existe des itinéraires-->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Durée estimée</th>
                <th>Difficulté estimée</th>
            </tr>
            </thead>
            <tbody>
            <!-- Affichage de tous les itinéraires-->
            {% for itineraire in itineraires %} 
                <tr>
                    <td><a href="{% url 'itineraires:sorties' itineraire.id %}">{{ itineraire.titre }}</a></td>
                    <td>{{ itineraire.duree }} h </td>
                    <td>{{ itineraire.difficulte }}/5</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="jumbotron"><i>Pas d'itinéraires disponibles.</i></div>
    {% endif %}
    </div>

{% endblock content %}