{% extends 'base.html' %}
{% load bootstrap5 %} {# Yes, load it again even if base loads it #}


{% block title %}Liste Sorties{% endblock title%}

{% block content %}

    <div class="row pb-3">
        <h1>Sorties</h1>
    </div>


    <div class="row">
    {% if sorties %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Par</th>
                <th></th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td><a href="{% url 'itineraires:sortie_details' sortie.id %}">{{ sortie.utilisateur }}</a></td>
                    <th></th>
                    <td>{{ sortie.date_sortie }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="jumbotron"><i>Pas de sorties disponibles.</i></div>
    {% endif %}
    </div>


<div class="row pt-3">
    <a class="btn btn-primary" href="{% url 'itineraires:itineraires' %}">Retour aux itinéraires</a>
</div>

<div class="row pt-3">
    <a class="btn btn-primary" href="{% url 'itineraires:nouvelle_sortie' %}">Créer une nouvelle sortie</a>
</div>


{% endblock content %}