{% extends 'base.html' %}
{% load bootstrap5 %} {# Yes, load it again even if base loads it #}


{% block title %} Détails Sortie {% endblock title%}

{% block content %}

<div class="row pb-3">
    <h1><a href="{% url 'itineraires:sorties' sortie.id %}">{{ sortie.itineraire }}</a><small> -- Sortie de {{ sortie.utilisateur }}</small></h1>
</div>

<div class="row">
    <table class="table table-striped">
        <tbody>
            <tr>
                         <td>
                        Date : {{ sortie.date_sortie }}
                        <br>
                        Durée réelle : {{ sortie.duree_reelle }}
                        <br>
                        Expérience : {{ sortie.experience }}
                        <br>
                        Météo : {{ sortie.meteo }}
                        <br>
                        Difficulté ressentie : {{ sortie.difficulte_ressentie }}
                        </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock content %}