{% extends 'base.html' %}
{% load bootstrap5 %} 


{% block title %}Liste Sorties{% endblock title%}

{% block content %}

<!-- Affichage des informations sur l'itinéraire en début de page -->
    <div class="row pb-3">
        <h1>{{itineraire.titre}}</h1>
        {{itineraire.description}} depuis {{itineraire.point_depart}}
        <br><br>
        <div class="container">
        <tr>
            <td><b>Altitude de départ</b> : {{itineraire.altitude_depart}} mètres</td>
            <br>
            <td><b>Altitude minimale</b> : {{itineraire.altitude_minimale}} mètres</td>
            <br>
            <td><b>Altitude maximale</b> : {{itineraire.altitude_maximale}} mètres</td>
            <br>
            <td><b>Dénivelé positif cumulé</b> : {{itineraire.denivele_positif_cumule}} mètres </td>
            <br>
            <td><b>Dénivelé négatif cumulé</b> : {{itineraire.denivele_negatif_cumule}} mètres </td>
            <br>
            <td><b>Durée estimée</b> : {{itineraire.duree}} heures</td>
            <br>
            <td><b>Difficulté</b> : {{itineraire.difficulte}} /5</td>
        </tr>
        </div>

    </div>

<!-- Affichage des différentes sorties -->
    <div class="row">
    {% if sorties %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Par</th>
                <th></th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>

            <div class="row pb-3">
                <h1>Sorties</h1>
            </div>
            {% for sortie in sorties %}
                <tr>
                    <td>{{sortie.utilisateur}}</td>
                    <th></th>
                    <td>{{ sortie.date_sortie }}</td>
                    <td><button type="button" class="btn btn-secondary" style="float:center" onclick= window.location.href="{% url 'itineraires:sortie_details' sortie.id %}">Consulter</button></td>
                    <!-- N'affiche le bouton modifier que si l'utilisateur est l'auteur de la sortie -->
                    {%if utilisateur == sortie.utilisateur%} 
                    <td><button type="button" class="btn btn-secondary" style="float:center" onclick= window.location.href="{% url 'itineraires:modif_sortie' sortie.id %}">Modifier</button></td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="jumbotron"><i>Pas de sorties disponibles.</i></div>
    {% endif %}
    </div>

<!-- Ajout de 2 boutons pour créer une sortie ou revenir à la page des itinéraires-->
<div class="row pt-3">
    <a class="btn btn-secondary" href="{% url 'itineraires:itineraires' %}">Retour aux itinéraires</a>
</div>

<div class="row pt-3">
    <a class="btn btn-secondary" href="{% url 'itineraires:nouvelle_sortie' itineraire.id%}">Créer une nouvelle sortie</a>
</div>

{% endblock content %}